{{ define "main" }}
<div class="columns">
	<div class="column is-half is-offset-one-quarter">
		<div class="card" id="worldmap">
			<div class="card-content has-text-centered">
				<div class="content">
					<a href="https://gitter.im/cs3org/community"><p><i class="fab fa-gitter icon has-text-info"></i>
						Chat with us </p></a>
				</div>
			</div>
			<footer class="card-footer">
				<div class="card-footer-item">
				</div>
			</footer>
		</div>
		<div class="card" id="worldmap">
			<div class="card-content has-text-centered">
				<div class="content">
					<a href="mailto:contact@cs3community.org?subject=CS3 Community Interest"><p><i class="fas fa-envelope icon has-text-info"></i>
						contact@cs3community.org</p></a>
				</div>
			</div>
		</div>
	</div>
</div>
{{ end }}
