{{ define "main" }}
<div class="columns">
	<div class="column is-half is-offset-one-quarter">
		<div class="card" id="worldmap">
			<div class="card-content has-text-centered">
				<div class="content">
					<p><i class="fas fa-envelope icon has-text-info"></i>
					contact@cs3community.org</p>
				</div>
			</div>
			<footer class="card-footer">
				<div class="card-footer-item">
					<a class="button is-info" href="mailto:contact@cs3community.org?subject=CS3 Community Interest">Send mail</a>
				</div>
			</footer>
		</div>
	</div>
</div>
{{ end }}
