<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="/">
				<img src="/images/cs3-logo.png" width="240" height="28">
			</a>

			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>

		<div class="navbar-menu">
			<div class="navbar-start">
			</div>

			<div class="navbar-end">
				{{ range .Site.Sections}}
				<div class="navbar-item">
				<a href="{{ .Permalink }}">{{ .Title }}</a>
				</div>
				{{ end }}
				<div class="navbar-item">
					<a href="https://twitter.com/hashtag/cs3rome"><i class="icon fab fa-twitter"></i></a>
				</div>
				<div class="navbar-item">
					<a href="https://github.com/cs3community"><i class="icon fab fa-github"></i></a>
				</div>
			</div>
		</div>
	</div>
	</div>
</nav>
